/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 2.5rem;
    margin-top: 50px;
  }
  
  p {
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #008CBA;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005F6B;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  